<h1>login</h1>

<form action="/api/v1/auth/login" method="POST">
 
    
    <div>
        <label for="email">Email : </label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" >Login </button>

</form>