<h1>signup</h1>
<form action="/api/v1/auth/signup" method="POST">
    <div>
        <label for="name">Name : </label>
        <input type="text" id="name" name="name" required>
    </div>
    
    <div>
        <label for="email">Email : </label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="cin">Cin : </label>
        <input type="text" id="cin" name="cin" required>
    </div>
    <button type="submit" >Submit</button>

</form>